<!DOCTYPE html>
<html lang="fa" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>GIF</title>
  <link rel="stylesheet" href="/static/css/overlay.css?v=split">
</head>
<body class="overlay-body" data-kind="gif" data-key="{{ overlay_key }}" data-volume="{{ site.alert_volume }}">
  <div id="media" class="media-stage">
    <img id="gif" class="media-clip" alt="">
    <video id="clip" class="media-clip" loop playsinline></video>
  </div>
  <script src="/static/js/overlay.js?v=split"></script>
</body>
</html>
