<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <title>Timer</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700;800&display=swap">
  <link rel="stylesheet" href="/static/css/overlay.css?v=tidy2">
</head>
<body class="overlay-body" data-kind="timer" data-mode="{{ mode }}" data-seconds="{{ seconds }}" data-key="{{ overlay_key }}">
  <section class="donathon">
    <p id="timer-digits" class="digits">00 : 00 : 00</p>
    <span class="atom lg">
      <i class="nucleus"></i>
      <i class="path p1"><b class="dot"></b></i>
      <i class="path p2"><b class="dot"></b></i>
      <i class="path p3"><b class="dot"></b></i>
    </span>
    <span class="badge">ATOMIC CORE</span>
  </section>
  <script src="/static/js/overlay.js?v=tidy2"></script>
</body>
</html>
