SECRET_KEY=change-this-to-a-long-random-string
DEBUG=false
ALLOWED_HOSTS=donate.example.com,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://donate.example.com
PUBLIC_BASE_URL=https://donate.example.com

ZARINPAL_MERCHANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ZARINPAL_SANDBOX=false

OVERLAY_TOKEN=change-this-overlay-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
